.css-heart {
  display:  inline-block;
  /*position: static;
  margin: auto;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 8px;
  width: 8px;
  transform: rotate(-45deg);
  animation-name: pinks;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.css-heart::after {
  background-color: pink;
  display: inline-block;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0px;
  left: 4px;
  animation-name: pinks;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.css-heart::before {
  content: "";
  display: inline-block;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -4px;
  left: 0px;
  animation-name: pinks;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes pinks {
  0% {
    background-color: lightpink;
  }
  25% {
    background-color: pink;
  }
  50% {
    background-color: hotpink;
  }
  75% {
    background-color: pink;
  }
  100% {
    background-color: lightpink;
  }

}
